%section#recomment_destinations.pad-0
  .container
    .subpage-title
      %h5 Recomment Destinations
      / Controls
      .controls
        %span#portfolio-prev.prev.black
          %i.fa.fa-angle-left
        %span#portfolio-next.next.black
          %i.fa.fa-angle-right
    .row.flush
      #caroufredsel-portfolio-container
        - Destination.recomment.limit(8).each do |d|
          .col-xs-12.col-sm-6.col-md-4.portfolio-item-wrapper
            .portfolio-item
              .portfolio-thumb
                %img.img-responsive{:alt => "1st Portfolio Thumb", :src => "assets/img/portfolio/photo (1).jpg"}
                  .image-overlay
                  %a.portfolio-zoom{:href => "assets/img/portfolio/photo (1).jpg", :rel => "prettyPhoto[pp_gal]"}
                    %i.fa.fa-eye
                  %a.portfolio-link{:href => "portfolio-item-1.html"}
                    %i.fa.fa-link
              .portfolio-details
                %h5 1st Portfolio Item
                %p Nullam id dolor id nibh ultricies vehicula.
          / /.portfolio-item-wrapper      
