@import '../color_define';
/* icons listing */
#dest_list {
	li {
		width: 110px;
		height: 140px;
		text-align: center;
		padding: 4px;
		border: solid 1px white;
		float: left;
		margin: 4px;
		overflow: hidden;

		.img-case {
			margin:auto;
			width:80px;height:80px;
			border:solid 1px #aaa;
			img {margin:0;}
		}
	}
	li:hover {border: solid 1px red;background-color:$bg_color_focus;}
  a:hover {color: blue; text-decoration: none;}
}
.related-tours{
	float: right;
	margin: 22px;
	border: solid 1px #CCC;
	padding: 10px 20px;
	background-color: $bg_color_block;
	h2{color: $bg_color_focus;}
	li{
		a {color:white;text-decoration:none;}
		a:hover {color:white;text-decoration:underline;}
	}
}

